#nav-bar{
    background-color: rgb(24, 57, 26);
    padding: 10px;
    height: 50px;
    width: 100%;
}

#nav-link{
    list-style: none;
    display: flex;
    padding-left: 5px;
    justify-content: space-between;
}

#nav-link a{
    text-align: center;
    text-decoration: none;
    color: white;
}

#nav-link li:not(:first-child):hover{
    border: solid 1px rgb(39, 93, 43);
    background-color: rgb(39, 93, 43);
    height: 35px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

#section-two{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.select-one{
    display: flex;
}
.select-one label{
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
}

#section-two h3{
    text-decoration: underline;
    font-weight: bold;
}

#tbl{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}