body{
    background-image: url(back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#nav-link{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#nav-bar{
    height: 50px;
    background-color: #34495e;
    justify-content: center;
    display: flex;
}

#nav-link li{
    margin-left: 100px;
    margin-right: 100px;
    line-height: 15px;
}

#nav-link li a{
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: 15px;
}

#nav-link li:hover{
    background-color: rgb(117, 117, 117);
    border: solid 1px rgb(177,177,177);
    border-radius: 5px;
    height: 25px;
    text-align: center;
}

 #nav-link li a:hover{
    line-height: 20px;
    padding: 15px;
    text-align: center;
     height: 25px;
    font-size: 20px;
}