#nav-bar{
    background-color: rgb(24, 57, 26);
    padding: 10px;
    height: 50px;
    width: 100%;
}

#nav-link{
    list-style: none;
    display: flex;
    padding-left: 5px;
    justify-content: space-between;
}

#nav-link a{
    text-align: center;
    text-decoration: none;
    color: white;
}

#nav-link li:not(:first-child):hover{
    border: solid 1px rgb(39, 93, 43);
    background-color: rgb(39, 93, 43);
    height: 35px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lab{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.cent{
    text-align: center;
}

#section-two{
    margin-top: 30px;
    padding: 20px;
    width: fit-content;
    border: solid 1px rgb(177,177,177);
    border-radius: 5px;
    position: relative;
    background-color: white;
    align-self: center;
}