<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{exams_home_page.css}">
    <link rel="stylesheet" th:href="@{bootstrap_css.css}">
    <title>ADD OPTIONAL SUBJECT</title>
</head>
<body>
    <div id="main-content">
        <div id="nav-bar">
            <ul id="nav-link">
                <li><h3 style="color: white;">ADD OPT SUBJECT</h3></li>
                <li><a th:href="@{/admin}">HOME</a></li>
                <li><a th:href="@{/logout}">LOGOUT</a></li>
            </ul>
        </div>
        <div id="section-two">
            <div style="text-align: center; width: auto;">
                <h1 style="font-weight: bold;">NEW OPTIONAL SUBJECT</h1>
                <form action="/sub_subjects" style="margin-top: 10px;">
                    <table>
                        <tbody>
                            <tr>
                                <td class="right">MAIN SUBJECT NAME</td>
                                <td class="left">
                                    <input type="text" class="form-control" required name="optName" autocapitalize="characters">
                                </td>
                            </tr>
                            <tr>
                                <td class="right" style="padding-top: 20px;">DEPARTMENT</td>
                                <td class="left" style="padding-top: 20px;">
                                    <select name="dpt" id="cls" class="form-select" required >
                                        <option th:each="dep : ${dept}" th:value="${dep.getDepartmentID()}"
                                         th:text="${dep.getDepartment_name()}"></option>>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">NUMBER OF SUB SUBJECTS</td>
                                <td class="left">
                                    <input type="number" class="form-control" required min="2" name="num">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="NEXT" class="btn btn-primary btn-lg" style="margin-top: 30px;">
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{bootstrap_js.js}"></script>
</body>
</html>