<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{exams_home_page.css}">
    <link rel="stylesheet" th:href="@{bootstrap_css.css}">
    <script th:src="@{jquery-3.6.0.js}" type="text/javascript"></script>
    <script>
        $(document).ready(function (){
            $("#dpt").change(function (){
                let departmentId = $('option:selected', this).val();
                $('#tch').empty();
                $.ajax({
                    type : 'GET',
                    url : '/department_teachers/' + departmentId,
                    dataType : 'json',
                    contentType : 'application/json',
                    success : function (result){
                      /*<![CDATA[*/
                      for (let i = 0; i < result.length;i++){
                          $('#tch').append(new Option(result[i].fullName, result[i].teachId))
                      }
                      /*]]>*/
                    }
                })
            });
        });
    </script>
    <title>ADD CLASS</title>
</head>
<body>
    <div id="main-content">
        <div id="nav-bar">
            <ul id="nav-link">
                <li><h3 style="color: white;">ADD CLASS</h3></li>
                <li><a th:href="@{/admin}">HOME</a></li>
                <li><a th:href="@{/logout}">LOGOUT</a></li>
            </ul>
        </div>
        <div id="section-two">
            <div style="text-align: center; width: auto;">
                <h1 style="font-weight: bold;">NEW CLASS</h1>
                <form action="/teacher_to_class" style="margin-top: 10px;" th:object="${class}">
                    <table>
                        <tbody>
                            <tr>
                                <td class="right" style="padding-top: 20px;">MAIN CLASS:</td>
                                <td class="left" style="padding-top: 20px;">
                                    <select name="dpt" id="dpt" class="form-select" required th:field="*{parentClass.parentClassId}">
                                        <option th:each="parent : ${parentClass}" th:text="${parent.getParentClassName()}"
                                                th:value="${parent.getParentClassId()}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="right" style="padding-top: 20px;">CLASS TEACHER:</td>
                                <td class="left" style="padding-top: 20px;">
                                    <select name="tch" id="tch" class="form-select" required th:field="*{class_teacher_id.teacher_id}">
                                        <option th:each="tch : ${teachers}" th:value="${tch.getTeacher_id()}" th:text="${tch.getFullName()}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="right" style="padding-top: 20px;">ASSIGN TEACHERS</td>
                                <td class="left" style="padding-top: 20px;">
                                    <select required name="assign_tch" class="form-select">
                                        <option value="1">ALL DEPARTMENT TEACHERS</option>
                                        <option value="2">CHOOSE TEACHERS</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="SUBMIT" class="btn btn-primary btn-lg" style="margin-top: 30px;">
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{bootstrap_js.js}"></script>
</body>
</html>