<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{add_teacher.css}">
    <link rel="stylesheet" th:href="@{bootstrap_css.css}">
    <title>ADD STUDENT</title>
</head>
<body>
    <div id="main-content">
        <div id="nav-bar">
            <ul id="nav-link">
                <li><h3 style="color: white;">ADD STUDENT</h3></li>
                <li><a th:href="@{/admin}">HOME</a></li>
                <li><a th:href="@{/logout}">LOGOUT</a></li>
            </ul>
        </div>
        <div style="text-align: center; margin-top: 10px;">
            <a th:href="@{/batch_student}" class="btn btn-primary">ADD BATCH STUDENTS</a>
        </div>
        <div id="section-two">
            <div style="text-align: center; width: auto;">
                <h1 style="font-weight: bold;">NEW STUDENT</h1>
                <form action="/guardian_form" method="post" style="margin-top: 10px;" enctype="multipart/form-data" th:object="${student}">
                    <input type="hidden" th:value="${student.getClasses().getClass_id()}" th:field="*{classes.class_id}">
                    <div style="display: flex;">
                        <div>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="right">FIRST NAME</td>
                                        <td class="left">
                                            <input type="text" class="form-control" autocapitalize="characters" placeholder="first_name" required th:field="*{first_name}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right">MIDDLE NAME</td>
                                        <td class="left">
                                            <input type="text" class="form-control" autocapitalize="characters" placeholder="middle _name" th:field="*{middle_name}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right">LAST NAME</td>
                                        <td class="left">
                                            <input type="text" class="form-control" autocapitalize="characters" placeholder="first_name" required th:field="*{last_name}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right" style="padding-top: 10px;">CLASS</td>
                                        <td class="left">
                                            <input type="text" name="cls" id="cls" th:value="${student.getClasses().getClass_name()}" readonly class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right" style="padding-top: 10px;">GENDER</td>
                                        <td style="display: flex; padding-top: 10px; padding-left: 20px;">
                                            <input type="radio"  th:value="${male}" class="form-check" required th:field="*{gender}"><span style="margin-left: 10px;">MALE</span>
                                            <input type="radio" th:value="${female}" class="form-check" style="margin-left: 50px;" th:field="*{gender}"><span style="margin-left: 10px;">FEMALE</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right">PICTURE</td>
                                        <td class="left">
                                            <input type="file" class="form-control" accept="images/*" name="img">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <input type="submit" value="NEXT" class="btn btn-primary btn-lg" style="margin-top: 10px;">
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{bootstrap_js.js}"></script>
    <script>
        document.querySelector("input").addEventListener("input", function(event) {
            const input = event.target;
            const start = input.selectionStart;
            const end = input.selectionEnd;
            input.value = input.value.toLocaleUpperCase();
            input.setSelectionRange(start, end);
        })
    </script>
</body>
</html>