<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{admin_home_page.css}">
</head>
<body>
    <div class="main">
        <div class="menu">
            <h2 class="logo">MENU</h2>
            <a th:href="@{/academic}">academic setting</a>
            <a th:href="@{/configuration}">sba configuration</a>
            <a th:href="@{/promotion}">promotion</a>
            <a th:href="@{/term_report_form}">terminal report</a>
            <a th:href="@{/classes}">classes</a>
            <a th:href="@{/staffs}">staffs</a>
            <a th:href="@{/students}">students</a>
            <a th:href="@{/subject}">subjects</a>
            <a th:href="@{/admin_records}">records</a>
        </div>
        <div class="main-content">
            <div style="text-align: center; color: rgb(0,0,0); margin-top: 25%; font-size: 25px;">
                <h1>KING INTERNATIONAL</h1>
            </div>
        </div>
    </div>
</body>
</html>