<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{bootstrap_css.css}">
    <link rel="stylesheet" th:href="@{teachers_to_class.css}">
    <title>ADD CLASSES AND SUBJECTS</title>
</head>
<body>
    <div id="main-content">
        <div id="nav-bar">
            <ul id="nav-link">
                <li><h3 style="color: white;">ADD CLASS</h3></li>
                <li><a th:href="@{/admin}">HOME</a></li>
                <li><a th:href="@{/logout}">LOGOUT</a></li>
            </ul>
        </div>
        <div style="align-self: center;" id="section-two">
            <form action="/save_sub_cls_assign" th:object="${staff}">
                <input type="hidden" th:value="${staff.getTeacher_id()}" th:field="*{teacher_id}">
                <input type="hidden" th:value="${edit}" name="edit">
                <div>
                    <h4 class="lab" th:text="'ASSIGN SUBJECTS AND CLASSES TO '+${staff.getStaffFullName()}"></h4>
                </div>
                <div style="display: flex; justify-content:space-evenly; margin-top: 10px">
                    <div style="margin-left: 20px;">
                        <table class="table table-bordered" style="width: fit-content; margin-left: 20px;">
                            <thead>
                                <tr style="text-align: center;">
                                    <th scope="col">SUBJECTS</th>
                                    <th scope="col">CHOOSE SUBJECT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="sub, item: ${subjects}">
                                    <td th:text="${sub.getSubject_name()}"></td>
                                    <td class="cent"><input type="checkbox" class="form-check-input" th:value="${sub.getSubject_id().toString()}"
                                                            th:field="*{teacherSubjects}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="margin-left: 20px;">
                        <table class="table table-bordered" style="width: fit-content; margin-left: 20px;">
                            <thead>
                            <tr style="text-align: center;">
                                <th scope="col">CLASSES</th>
                                <th scope="col">CHOOSE SUBJECT</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cls, item: ${class}">
                                <td th:text="${cls.getClass_name()}"></td>
                                <td class="cent"><input type="checkbox" class="form-check-input" th:value="${cls.getClass_id()}"
                                                        th:field="*{teacherClasses}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="display: flex; justify-content:center;"><input type="submit" value="NEXT" class="btn btn-primary btn-lg"></div>
            </form>
        </div>
    </div>
    <script th:src="@{bootstrap_js.js}"></script>
</body>
</html>