<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{bootstrap_css.css}">
  <link rel="stylesheet" th:href="@{student_profile.css}">
  <link rel="stylesheet" th:href="@{data_tables_css.css}">
  <script  th:src="@{data_tables_jquery.js}"></script>
  <script  th:src="@{data_tables_js.js}"></script>
  <title>STUDENTS</title>
  <script>
    $(document).ready(function () {
      $('#student_data').DataTable();
    });
  </script>
</head>
<body>
<div id="nav-bar">
  <ul id="nav-link">
    <li><h3 style="color: white;">STUDENTS</h3></li>
    <li><a th:href="@{/admin}">HOME</a></li>
    <li><a th:href="@{/logout}">LOGOUT</a></li>
  </ul>
</div>
<div id="section-two">
  <div><h3 th:text="'PASSED STUDENTS'"></h3></div>
</div>
<div id="tbl">
  <table id="student_data" class="display" style="width: 100%;" border="1" >
    <thead>
    <tr>
      <th>FULL NAME</th>
      <th>STUDENT ID</th>
      <th>VIEW</th>
      <th>TERMINAL REPORT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stu : ${students}">
      <td th:text="${stu.getStudent().getStudentFullName()}"></td>
      <td th:text="${stu.getStudent().getStudent_id()}"></td>
      <td><a th:href="@{/admin_view_profile(stu=${stu.getStudent().getStudent_id()})}" class="btn btn-primary">View</a></td>
      <td><a th:href="@{/head_passed_record/{student_id}(student_id=${stu.getStudent().getStudent_id()})}" class="btn btn-dark">Report</a></td>
    </tr>
    </tbody>
  </table>
</div>
<script th:src="@{bootstrap_js.js}"></script>
</body>
</html>