<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{bootstrap_css.css}">
    <link rel="stylesheet" th:href="@{teachers_to_class.css}">
    <title>ADD TEACHERS TO CLASS</title>
</head>
<body>
    <div id="main-content">
        <div id="nav-bar">
            <ul id="nav-link">
                <li><h3 style="color: white;">ADD CLASS</h3></li>
                <li><a th:href="@{/admin}">HOME</a></li>
                <li><a th:href="@{/logout}">LOGOUT</a></li>
            </ul>
        </div>
        <div>
            <h1 class="lab" th:text="'ASSIGN TEACHERS TO '+${className}"></h1>
        </div>
        <div style="align-self: center; margin-top: 10px" id="section-two">
            <form action="/save_class" th:object="${class}">
                <input type="hidden" th:value="${class.getParentClass().getParentClassId()}" th:field="*{parentClass.parentClassId}">
                <input type="hidden" th:value="${class.getClass_teacher_id().getTeacher_id()}" th:field="*{class_teacher_id.teacher_id}">
                <table class="table table-bordered" style="width: fit-content;">
                    <thead>
                        <tr style="text-align: center;">
                            <th>FULL NAME</th>
                            <th>SUBJECTS</th>
                            <th>CURRENT CLASSES</th>
                            <th>ASSIGN CLASS</th>
                        </tr>
                    </thead>
                        <tbody>
                        <tr th:each="tch,item : ${class.getClass_teachers()}">
                            <td th:text="${tch.getFullName()}"></td>
                            <td th:text="${#strings.listJoin(tch.getTeacherSubjects(),', ')}"></td>
                            <td th:text="${#strings.listJoin(tch.getTeacherClasses(),', ')}"></td>
                            <td class="cent"><input type="checkbox" th:field="*{selectedTeachers[__${item.index}__]}"
                                                    class="form-check-input" th:value="${tch.getTeacher_id()}"></td>
                        </tr>
                        </tbody>
                </table>
                <div style="display: flex; justify-content:center;"><input type="submit" value="SAVE" class="btn btn-primary btn-lg"></div>
            </form>
        </div>
    </div>
    <script th:src="@{bootstrap_js.js}"></script>
</body>
</html>