<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{view_student_profile.css}">
    <link rel="stylesheet" th:href="@{bootstrap_css.css}">
    <title>MAIN CLASS</title>
</head>
<body>
    <div id="nav-bar">
        <ul id="nav-link">
            <li><h3 style="color: white;">MAIN CLASS PROFILE</h3></li>
            <li><a th:href="@{/admin}">HOME</a></li>
            <li><a th:href="@{/logout}">LOGOUT</a></li>
        </ul>
    </div>
    <div id="student-details">
        <div id="stu-details">
            <h3 style="color: rgb(144, 146, 147);">PARENT CLASS DETAILS</h3>
        </div>
       <div id="sec-two">
            <div id="img">
                <div style="background-color: rgb(220, 230, 230); width: 100%; display: flex; justify-content: center; flex-direction: column; height: 80vh;">
                     <div style="align-self: center; margin-top: 20px; border-radius: 50%;
                      background-color: black; width: 150px; height: 150px;">
                        <h4 style="font-weight: bold; text-align: center; margin-top: 50px; color: white;" th:text="${parentClass.getParentClassName()}"></h4>
                    </div>
                    <div style="align-self: center; margin-top: 20px;">
                        <h6 style="font-weight: bold; color: rgb(53, 131, 169);">
                            PARENT CLASS</h6>
                    </div>
                    <div style="align-self: center; margin-top: 20px;">
                        <div><a th:href="@{/merge_parent_class(parent=${parentClass.getParentClassId()})}" class="btn btn-dark btn-lg">MERGE</a></div>
                        <div style="margin-top: 10px; margin-left: 10px"><a th:href="@{/split_parent_class(parent=${parentClass.getParentClassId()})}" class="btn btn-dark btn-lg">SPLIT</a></div>
                    </div>
                </div>
            </div>
            <div id="info">
                <div id="row-one" style="width: 100%">
                    <div style="background-color: rgb(16, 196, 165); width: 100%;">
                        <div style="text-align: center; color: white;">
                            <h4 style="padding-top: 10px;">PARENT CLASS ID</h4>
                            <h1 th:text="${parentClass.getParentClassId()}"></h1>
                        </div>
                    </div>
                    <div style="background-color: rgb(81, 147, 207); width: 100%;" >
                        <div style="text-align: center; color: white;">
                            <h4 style="padding-top: 10px;">NUMBER OF SUB CLASSES</h4>
                            <h1 th:text="${classes.size()}"></h1>
                        </div>
                    </div>
                </div>
                <div id="row-two" style="height: 100%; display: grid; grid-template-columns: 1fr 1fr;">
                    <div style="display: flex; border-bottom:solid 3px rgb(225, 225, 225); width: 100%; text-align: left;"> 
                        <div style="padding-left: 10px; padding-top: 20px;"> 
                            <h4 style="color: rgb(173, 188, 205);">PAREN CLASS ID</h4>
                            <h5 style="color: rgb(53, 131, 169);" th:text="${parentClass.getParentClassId()}"></h5>
                        </div>
                    </div>
                    <div style="display: flex; border-bottom:solid 3px rgb(225, 225, 225); width: 100%; text-align: left;">
                        <div style="padding-left: 10px; padding-top: 20px;"> 
                            <h4 style="color: rgb(173, 188, 205);">PARENT CLASS NAME</h4>
                            <h5 style="color: rgb(53, 131, 169);" th:text="${parentClass.getParentClassName()}"></h5>
                        </div>
                    </div>
                    <div style="display: flex; border-bottom:solid 3px rgb(225, 225, 225); width: 100%;text-align: left;">
                        <div style="padding-left: 10px; padding-top: 20px;"> 
                            <h4 style="color: rgb(173, 188, 205);">DEPARTMENT NAME</h4>
                            <h5 style="color: rgb(53, 131, 169);" th:text="${parentClass.getClass_department().getDepartment_name()}"></h5>
                        </div>
                    </div>
                    <div style="display: flex; border-bottom:solid 3px rgb(225, 225, 225); width: 100%;text-align: left;">
                        <div style="padding-left: 10px; padding-top: 20px;"> 
                            <h4 style="color: rgb(173, 188, 205);">SUB CLASSES</h4>
                            <h5 style="display: flex;color: rgb(53, 131, 169);" th:text="${#strings.listJoin(classes,', ')}"></h5>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <script th:src="@{bootstrap_js.js}"></script>
</body>
</html>